.expired-notice {
    text-align: center;
    padding: 2rem;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    margin: 0.5rem;
  }
  
  .expired-notice > span {
    font-size: 2.5rem;
    font-weight: bold;
    color: red;
  }
  
  .expired-notice > p {
    font-size: 1.5rem;
  }
  
  .show-counter {
    padding: 0.5rem;
  }
  
  .show-counter {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0.5rem;
    text-decoration: none;
    color: #000;
    gap: 20px;
    padding-left : 120px;
  }
  
  .show-counter .countdown {
    line-height: 1.25rem;
    padding: 0 0.75rem 0 0.75rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 50px;
  }
  
  .show-counter .countdown.danger {
    color: #fff;
  }

  .show-counter .countdown > p {
    margin: 0;
    color: white;
    padding-top:10px;
  }
  
  .show-counter .countdown > p::before {
    margin: 0;
    color: white;
    content:none;
  }
  
  .show-counter .countdown > span {
    text-transform: uppercase;
    line-height: 1rem;
    font-size:20px;
    padding-top:20px;
  }
  