@media screen and (min-width: 768px) and (max-width: 1023px)  {
  #countdwn p {
    font-size:4rem;
    /* padding-bottom:40px;
    padding-top:40px */
  }
}

@media screen and (min-width: 412px) and (max-width: 767px)  {
  #countdwn p {
    font-size:3rem;
    padding-right: 1vw!important;
    /* padding-bottom:40px;
    padding-top:40px */
  }
}

@media screen and (min-width: 1024px)  {
  #countdwn p {
    font-size:5rem;
    /* padding-bottom:40px;
    padding-top:40px */
  }
}



.expired-notice {
    text-align: center;
    padding: 2rem;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    margin: 0.5rem;
  }
  
  .expired-notice > span {
    font-size: 2.5rem;
    font-weight: bold;
    color: red;
  }
  
  .expired-notice > p {
    font-size: 1.5rem;
  }
  
  .show-counter {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0.5rem;
    text-decoration: none;
    color: #000;
    gap: 20px;
    padding-left : 120px;
  }
  
  .counter .countdown {
    line-height: 1.25rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 50px;
  }
  
  .counter .countdown.danger {
    color: #fff;
    display:flex;
    flex-wrap:wrap;
  }

  .counter .countdown > p {
    color: white;
    padding-top:15px;
  }
  
  .counter .countdown > p::before {
    color: white;
    content:none;
  }
  
  .counter .countdown > span {
    text-transform: uppercase;
    line-height: 1rem;
    font-size:20px;
    padding-top:20px;
  }
  